<h2>Главная страница</h2>

<p>Выберите способ отображения овощей:</p>

<button onclick="location.href='@Url.Action("FirstViewMethod","Vegetables")'">
    Показать список
</button>

<br />
<br />

<button onclick="location.href='@Url.Action("SecondViewMethod","Vegetables")'">
    Показать таблицу
</button>

<br />
<br />

<button onclick="location.href='@Url.Action("ThirdViewMethod","Vegetables")'">
    Группировка по первой букве
</button>